body {
  display: flex;
  justify-content: center; /* محاذاة أفقية */
  align-items: center; /* محاذاة عمودية */
  height: 100vh; /* ارتفاع الجسم يأخذ كامل ارتفاع النافذة */
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #eaeaea;
}

.container {
  max-width: 850px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  /* يجب أن يكون ارتفاع الحاوية في حدود النافذة */
  max-height: 90vh;
  overflow-y: auto; /* يضيف تمرير إذا كان المحتوى أطول من الحاوية */
}


textarea {
  width: 800px; /* أو يمكنك ضبط العرض حسب الرغبة */
  height: 170px; /* أو ضبط الارتفاع حسب الرغبة */
  margin: 10px;
  padding: 15px; /* تبطين أكبر لمزيد من المساحة داخل المربع */
  border: 2px solid #007bff; /* حد أكثر وضوحاً */
  border-radius: 10px; /* حواف مستديرة بشكل أكبر */
  font-size: 16px; /* خط أكبر قليلاً */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* إضافة ظل خفيف */
  background-color: #f8f8f8; /* خلفية فاتحة */
  transition: border-color 0.3s, box-shadow 0.3s; /* تأثير انتقالي للحد والظل */
}

textarea:focus {
  border-color: #0056b3; /* تغيير لون الحد عند التركيز */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* ظل أكبر عند التركيز */
}

.buttons {
  display: flex;
  justify-content: space-around; /* توزيع الأزرار بشكل متساوٍ */
  margin-top: 10px;
}

.buttons button {
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.buttons button:hover {
  background-color: #0056b3;
}

.signature {
  position: fixed;
  left: 10px;
  bottom: 10px;
  font-size: 16px; /* تكبير الخط قليلاً */
  color: #4a4a4a; /* لون خط داكن بنغمة ناعمة */
  font-family: 'Arial', sans-serif; /* تغيير نوع الخط */
  background-color: rgba(255, 255, 255, 0.8); /* خلفية بيضاء شفافة */
  padding: 5px 10px; /* تبطين حول النص */
  border-radius: 5px; /* حواف مستديرة */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* إضافة ظل خفيف */
  border: 1px solid #ddd; /* حد رقيق */
}
